@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Phone:</strong> 
    84543259
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:marcia.abech@gmail.com">Support@example.com</a><br />
</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://br.linkedin.com/in/mabech">https://br.linkedin.com/in/mabech</a><br />
</address>